@charset "utf-8";
/* ----------------------------------------
* 見出しのデザイン
* ---------------------------------------- */
h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

/* ----------------------------------------
* フォームエリアのデザイン
* ---------------------------------------- */
.formArea {
  padding: 10px; /* 枠の内側の余白 */
  border: solid 2px #0068b7;
}

/* ----------------------------------------
* テキスト入力フィールドのデザイン
* ---------------------------------------- */
input[type="text"] {
  width: 10em; /* 枠の横幅は、10文字分の広さ */
}

/* ----------------------------------------
* リストエリアのデザイン
* ---------------------------------------- */
.listArea {
  padding: 10px; /* 枠の内側の余白 */
  border: solid 2px #0068b7;
}

/* ----------------------------------------
* 表のデザイン
* ---------------------------------------- */
table {
  border-collapse: collapse; /* 枠線を重ねる */
}
table,
th,
td {
  border: solid 1px gray;
}

th {
  background-color: whitesmoke;
}

/* ----------------------------------------
* ボタンのデザイン
* ---------------------------------------- */
/*新規登録ボタン*/
.btnCreate {
  font-size: small;
}

/*更新ボタン*/
.btnUpdate {
  font-size: small;
}

/*削除ボタン*/
.btnDelete {
  font-size: small;
}

/*選択解除ボタン*/
.btnRelease {
  font-size: small;
}

/*選択ボタン*/
.btnSelect {
  font-size: small;
}

/* ----------------------------------------
* エラーメッセージのデザイン
* ---------------------------------------- */
.errorMessageArea {
  color: red;
}
